{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<style>
    .custom-jumbotron {
      background-color:darkgray;
      padding: 30px;
      border-radius: 10px;
      margin-top: 50px;
    }
</style>

<!-- Jumbotron -->
<div class="custom-jumbotron text-center shadown-sm">
    <h1 class="mb-3">Welcome to my to-do-list web application!</h1>
    <h4 class="mb-3"><em>Start organizing your tasks and track them with ease!</em></h4>
    <a data-mdb-ripple-init class="btn btn-light" href="#" role="button">Call to action</a>
  </div>

{% endblock %}